* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Glass Antica', sans-serif; /* Application de la police */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left; /* Aligner le texte à gauche */
    overflow: hidden;
    padding: 0 10px; /* Ajoute de l'espace à gauche et à droite */
}

#image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#intro-image {
    width: 80%;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

#content {
    position: relative;
    display: none;  /* Cacher le contenu initialement */
    color: white;
    width: 100%;
    max-width: 800px;  /* Limite la largeur du texte */
}

#text {
    font-size: 32px;  /* Ajuste la taille du texte */
    white-space: nowrap; /* Empêche le retour à la ligne automatique */
    overflow: hidden;
    width: 100%;  /* Le texte prend toute la largeur disponible */
    line-height: 1.5;  /* Espacement entre les lignes */
    margin: 0;
    display: inline-block; /* Permet au texte de s'afficher sans être "bloqué" */
    border-right: 2px solid white; /* Simule un curseur de saisie */
    animation: typing 5s steps(50) 1s forwards, blinkCaret 0.75s step-end infinite; /* Animation de la frappe */
}

/* Animation de "taper" */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Animation du curseur clignotant */
@keyframes blinkCaret {
    50% {
        border-color: transparent;
    }
}

/* Animation de l'image */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
